body *{
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
}

#overlay{
    visibility: hidden;
    font-size: 50px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    background-color: white;
    min-width: 80vw;
    min-height: 50vh;
    
}

#close{
    font-family: monospace;
    background: none;
    color: white;
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#close *{
    width: auto;
    height: 5vh;
}